* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(235, 18%, 26%);
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: hsl(0, 0%, 100%);
  width: 600px;
  height: auto;
  padding: 15px;
  display: flex;
  border-radius: 20px;
}

.left-container {
  width: 56%;
  padding: 40px 30px;
  font-weight: 400;
}

.right-container {
  width: 44%;
  background-image: url("../assets/illustration-sign-up-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.left-container h1 {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 35px;
}
.left-container p {
  color: #000;
  font-size: 11px;
  margin: 15px 0;
  font-weight: 400;
  color: hsl(235, 18%, 26%);
}

.list-container {
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.per-list-item {
  font-size: 12px;
  color: hsl(235, 18%, 26%);
}

.per-list-item img {
  width: 13px;
  margin-right: 5px;
}

.form-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.email-result {
  display: flex;
  justify-content: space-between;
}

.form-container h5 {
  font-size: 11px;
  margin-bottom: 2px;
}

#email-input,
.submit-button,
.close-button {
  padding: 10px 12px;
  font-size: 11px;
  border-radius: 5px;
  border: 0.7px solid hsla(231.4, 6.9%, 60%, 0.37);
  margin: 5px 0;
}

.submit-button:hover {
  background-image: linear-gradient(90deg, #ff5572, #ff6646);
  box-shadow: rgba(255, 101, 70, 0.4392156863) 0px 8px 24px;
  border: 0;
}

#email-input {
  outline: none;
}

.submit-button,
.close-button {
  text-align: center;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

#pop-thanks-message {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: hsl(235, 18%, 26%);
}

.thanks-message-container {
  width: 270px;
  height: auto;
  background: hsl(0, 0%, 100%);
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.thanks-message-container .success-icon {
  width: 35px;
}
.thanks-message-container h2 {
  margin-top: 10px;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
.thanks-message-container p {
  margin-top: 10px;
  font-size: 11px;
  color: hsl(235, 18%, 26%);
}
.thanks-message-container .close-button {
  margin-top: 20px;
}

.close-button:hover {
  background-image: linear-gradient(90deg, #ff5572, #ff6646);
  box-shadow: rgba(255, 101, 70, 0.4392156863) 0px 8px 24px;
  border: 0;
}

#email-error {
  color: rgba(255, 0, 0, 0.527);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
    flex-direction: column-reverse;
  }
  .left-container,
  .right-container {
    width: 100%;
    padding: 0;
  }
  .left-container {
    padding: 20px;
    margin-bottom: 100px;
  }
  .right-container {
    width: 100%;
    background-image: url("../assets/illustration-sign-up-mobile.svg");
    border-radius: 0 0 12px 12px;
    background-size: 100%;
    height: 500px;
  }
  .left-container h1 {
    font-size: 25px;
  }
  .form-container {
    width: 100%;
  }
  .thanks-message-container {
    padding: 100px 30px 0 30px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .thanks-message-container h1,
  .thanks-message-container p {
    margin-top: 20px;
  }
  .thanks-message-container .success-icon {
    width: 50px;
    margin-bottom: 20px;
  }
  .close-button {
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=main.css.map */